@use "sass:map";
@use "reset.css" as *;
@use "utility" as *;

body {
  font-family: $font-family;
}

.container {
  max-width: min(#{$max-width}, 100% - #{$container-padding} * 2);
  margin-inline: auto;
  min-height: 100vh;
}


.stripe {
  position: relative;
}

.stripe:after {
  content: "";
  position: absolute;
  width: 9px;
  height: 100%;
  left: -5rem;
  top: 0;
  background-color: map.get($colors, "primary-400");
}

.even-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--gap, 6rem);
}

// Composition

.flow {
  display: flex;
  flex-direction: column;
}

.flow > * + * {
  margin-top: var(--flow-spacer, 1rem);
}

.flex-row {
  display: flex;
  gap: var(--gap, 1rem);
  align-items: center;
}

.corner-image {
  position: absolute;
  right: 4rem;
  bottom: calc(var(--index, 0) * -100vh);
  z-index: -1;
}


.person-card {
  padding: 4rem;
  border-radius: 2rem;
  position: relative;
}

.person-card::before {
  content: "";
  position: absolute;
  width: 77.5%;
  height: 9px;
  background-color: map.get($colors, 'primary-400');
  top: 0;
}